.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1300px;
    width: 100%;
}

h2 {
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 400;
    font-size: 81.3081px;
    line-height: 108px;
    color: #FFFFFF;
}



/* header */

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1512px;
    background-color: black;
    margin: 0 auto;
}
.header__container {
    display: flex;
    max-width: 1300px;
    width: 100%;
    justify-content: space-between;
    margin-top: 80px;
    margin-bottom: 111px;
}
.header__logo {
}
.header__logo_image {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    text-transform: uppercase;
    color: #FFFFFF;
}
.header__navigation {
    max-width: 550px;
    width: 100%;
}
.header__navigation_list {
    display: flex;
    justify-content: space-between;
    max-width: 550px;
    width: 100%;
    padding-left: 0px;
}
.header__navigation_list_item {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    text-transform: uppercase;
    text-decoration: none;
    list-style: none;
    color: #FFFFFF;
}

/* main */

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1512px;
    background-color: black;
    margin: 0 auto;
}

/* banner */

.main__banner {
    max-width: 1300px;
    width: 100%;
    position: relative;
}
.main__banner_background {
    display: flex;
    max-width: 1300px;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 212px;
}
.banner__background_image-left {
    display: flex;
    align-items: flex-end;
    height: 865px;
}

.banner__background_image-right {
    display: flex;
    align-items: flex-start;
    height: 865px;
}

.banner__background_image-left_img {
    width: 604.92px;
    height: 535.63px;
}

.banner__background_image-right-img {
    width: 577.09px;
    height: 533.07px;
}

.main__banner_content {
    position: absolute;
    top: 0;
    left: 0;
}
.banner_content__text {
    display: block;
    position: absolute;
    width: 679px;
    height: 58px;
    top: 40px;
    left: 110px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    color: #FFFFFF;
}
.banner_content__title-top {
    position: absolute;
    top: 59px;
    left: 165px;
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 700;
    font-size: 309.341px;
    line-height: 412px;
    color: #FFFFFF;
}
.banner_content__title-bottom {
    position: absolute;
    top: 308px;
    left: 304px;
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 700;
    font-size: 284.808px;
    line-height: 380px;
    color: #FFFFFF;
}
.banner_content__button {
    position: absolute;
    width: 222px;
    height: 46px;
    left: 769.46px;
    top: 762px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 38.4067px;
    line-height: 46px;
    width: 260.96px;
    height: 72.14px;
    background: #FFFFFF;
}



/* portfolio */
.main__portfolio {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.portfolio__title {
    color: #FFFFFF;
}
.portfolio__title_text {
    color: #FFFFFF;
}
.porfolio__list {
    display: flex;
}
.portfolio__column {
}
.portfolio__item {
}
.portfolio__item_image {
}



/* about */
.main__about {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.about__title {
    color: #FFFFFF;
}
.about__title_text {
    color: #FFFFFF;
}
.about__content {
    display: flex;
}
.about__text {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 48px;
    color: #FFFFFF;
    max-width: 633px;
    width: 100%;
    max-height:672px;
    height: 100%;
}
.about__image {
}
.about__image_img {
}



/* testimonials */
.main__testimonials {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.testimonials__title {
    color: #FFFFFF;
}
.testimonials__title_text {
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 400;
    font-size: 81.3081px;
    line-height: 108px;
    color: #FFFFFF;
}
.testimonials__subtitle {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 27px;
    text-align: center;
    color: #FFFFFF;

}
.testimonials__cards {
    display: flex;
}

.testimonials__cards_left {
    display: flex;
    flex-direction: column;
}
.testimonials__card1 {
    display: flex;
    width: 767px;
    height: 310px;
}
.testimonials__card2 {
    display: flex;
    flex-direction: column;
    width: 327px;
    height: 671px;
}
.testimonials__card3 {
    display: flex;
    width: 767px;
    height: 310px;
}
.testimonials__card_content {
    display: flex;
    flex-direction: column;
    background-color: #181818;
}
.testimonials__card_image {
    width: 309.01px;
    height: 327.08px;
}
.testimonials__card_title {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 44px;
    line-height: 101.52%;
    color: #FFFFFF;
}
.testimonials__card_subtitle {
    color: #FFFFFF;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
}
.testimonials_a {
    display: flex;
}
.testimonials__card_a {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16.0674px;
    line-height: 19px;
    color: #ffffff;
}
.testimonials__card_icon {
   width: 30.28px;
   height: 19.83px;
}

.testimonials__button {
}



/* contacts */
.main__contacts {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.contacts__title {
    color: #FFFFFF;
}
.contacts__title_text {
    color: #FFFFFF;
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 400;
    font-size: 81.3081px;
    line-height: 108px;
}
.contacts__form {
}
.contacts__form_title {
    color: #FFFFFF;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 44.7477px;
    line-height: 54px;
    color: #FFFFFF;
}
.contacts__form_name {
    border: 2px solid #FFFFFF;
    background-color: #000000;
    width: 855.5px;
    height: 70px;
}
.contacts__form_email {
    border: 2px solid #FFFFFF;
    background-color: #000000;
    width: 855.5px;
    height: 70px;
}
.contacts__form_message {
    border: 2px solid #FFFFFF;
    background-color: #000000;
    width: 855.5px;
    height: 70px;
}
.contacts__button {
    width: 187.84px;
    height: 72.14px;
    background: #FFFFFF;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 38.4067px;
    line-height: 46px;
    color: #000000;
    border: none;
}
.contacts__button_btn {
    color: #FFFFFF;
}



/* footer */
.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1512px;
    background-color: black;
    margin: 0 auto;
}
.footer__logo {
}
.footer__logo_text {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    text-align: center;
    color: #FFFFFF;
}
.footer__privacy {
}
.footer__privacy_text {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 300;
    font-size: 22px;
    line-height: 27px;
    text-align: center;
    color: #FFFFFF;
}
.footer__terms {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 300;
    font-size: 22px;
    line-height: 27px;
    text-align: center;
    color: #FFFFFF;
}
.footer__terms_text {
    color: #FFFFFF;
}
