.main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1300px;
    width: 100%;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.header__container {
    display: flex;
    max-width: 1300px;
    width: 100%;
    justify-content: space-between;
    margin-top: 80px;
    margin-bottom: 111px;
}
.header__logo {
}
.header__logo_image {
}
.header__navigation {
    max-width: 550px;
    width: 100%;
}
.header__navigation_list {
    display: flex;
    justify-content: space-between;
    max-width: 550px;
    width: 100%;
    padding-left: 0px;
}
.header__navigation_list_item {
}
.main {
}
.main__banner {
    max-width: 1300px;
    width: 100%;
    position: relative;
}
.main__banner_background {
    display: flex;
    max-width: 1300px;
    width: 100%;
    justify-content: space-between;
}
.banner__background_image-left {
    display: flex;
    align-items: flex-end;
    height: 865px;
}

.banner__background_image-right {
    display: flex;
    align-items: flex-start;
    height: 865px;
}

.banner__background_image-left_img {
    width: 604.92px;
    height: 535.63px;
}

.banner__background_image-right-img {
    width: 577.09px;
    height: 533.07px;
}

.main__banner_content {
    position: absolute;
    top: 0;
    left: 0;
}
.banner_content__text {
    position: absolute;
    top: 0;
    left: 0;
}
.banner_content__title-top {
    position: absolute;
    top: 0;
    left: 0;
}
.banner_content__title-bottom {
    position: absolute;
    top: 0;
    left: 0;
}
.banner_content__button {
    position: absolute;
    top: 0;
    left: 0;
}
.main__portfolio {
}
.portfolio__title {
}
.portfolio__title_text {
}
.porfolio__list {
}
.portfolio__column {
}
.portfolio__item {
}
.portfolio__item_image {
}
.main__about {
}
.about__title {
}
.about__title_text {
}
.about__text {
}
.about__image {
}
.about__image_img {
}
.main__testimonials {
}
.testimonials__title {
}
.testimonials__title_text {
}
.testimonials__subtitle {
}
.testimonials__cards {
}
.testimonials__card {
}
.testimonials__card_image {
}
.testimonials__card_title {
}
.testimonials__card_subtitle {
}
.testimonials__card_a {
}
.testimonials__card_icon {
}
.testimonials__button {
}
.main__contacts {
}
.contacts__title {
}
.contacts__title_text {
}
.contacts__form {
}
.contacts__form_title {
}
.contacts__form_name {
}
.contacts__form_email {
}
.contacts__form_message {
}
.contacts__button {
}
.contacts__button_btn {
}
.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.footer__logo {
}
.footer__logo_text {
}
.footer__privacy {
}
.footer__privacy_text {
}
.footer__terms {
}
.footer__terms_text {
}
